* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: #1e1e1e;
    font-family: 'Arial', sans-serif;

}

.score {
    color: white
}

.board {
    display: grid;
    margin-top: 100px;
    gap: 2px;
    max-width: 80vw;
    max-height: 70vw;

    justify-content: center;

}

.card {
    aspect-ratio: 1 / 1;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    font-size: clamp(12px, 3vw, 32px);
}

.back,
.front {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s all;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px;
    color: aliceblue;
    border-radius: 10px;
}


.back {
    background: linear-gradient(135deg, #b76e50, #d38c62);
    transform: perspective(900px) rotateY(-180deg);
}

.back img {
    width: 100%;
}

.front img {
    width: 100%;
}

.front {
    background: #ffffff;
    color: #1e1e1e
}

.card.flipped .front {
    transform: perspective(900px) rotateY(180deg);
}

.card.flipped .back {
    transform: perspective(900px) rotateY(0);
}